.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  background-image: url(../../img/header-bg-dark.jpeg);
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;

  height: 380px;
  width: 100%;
}

.containerFixed {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;

  background-color: var(--Dark);

  width: 100%;
  height: 100px;

  padding: 0 20px;
}

.logo {
  width: 500px;
  height: 150px;
  margin-bottom: 10px;
  animation: inicioLogo 0.2s ease;
}

.logoFixed {
  width: 196px;
  height: 60px;
  animation: inicioLogoFixed 0.2s ease;
}

@keyframes inicioLogo {
  0% {
    transform: translateX(-125%);
  }
}

@keyframes inicioLogoFixed {
  0% {
    transform: translateX(125%);
  }
}
